{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ 'welcome.title'|trans }}</h1>
            <p>{{ 'welcome.desc'|trans }}</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
        </div>
    </div>
{% endblock %}