{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
                <div class="col-lg-3">
                    {{ knp_menu_render('subCategory') }}
                    <div>
                        {{ category.description(app.request.locale) }}
                    </div>
                </div>

                <div class="col-lg-9">

                    {% if products|length == 0 %}
                        <div class="alert alert-warning">
                            {{ 'msg.no_products_in_category'|trans }}
                        </div>
                    {% else %}

                    <div class="row">
                        <div class="container">
                            <h1>{{ category.name(app.request.locale) }}</h1>
                        </div>
                    </div>

                    <div class="row">
                        {% for product in products %}
                            {% include 'app/partials/item.html.twig' with {product: product} %}
                        {% endfor %}
                    </div>

                    {% endif %}
                </div>

        </div>
    </div>
{% endblock %}