body {
    background: #e6dcb5;
}

main {
    min-height: 80rem;
    margin-top: 80px;
    padding: 2rem;
}

footer.main-footer {
    background: #214161;
    border-top: 1px #e6dcb5 dashed;
}

.navbar {
    background: #6b242f;
    border-bottom: 2px #e6dcb5 dashed;
}

.navbar-nav a.nav-link {
    color: #fff !important;
    letter-spacing: 1px;
    border-bottom: .25rem solid transparent;
}
.navbar-nav a.nav-link:hover,
.navbar-nav a.nav-link.active{
    border-bottom-color: #fff;
}
.navbar .user-cart a {
    margin-left: 10px;
    position: relative;
    background: #bd8a48;
    padding: 2px 5px;
    border-radius: 4px;
    width: 50px;
    height: 44px;
    text-align: center;
}
.navbar .user-cart a.lang {
    background: transparent;
}
.navbar .user-cart a span {
    position: absolute;
    top: -10px;
    left: -15px;
    font-size: 14px;
    background: #ad544b;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
}
.navbar .user-cart a i {
    color: #ddd;
    font-size: 2.5rem;
}

a.lang img {
    border-radius: 4px;
    height: 44px;
}

.jumbotron {
    background: url("../images/bg-multi.jpg");
    color: #fff;
    min-height: 300px;
    border-bottom: 2px #e6dcb5 dashed;
    background-size: cover;
    margin: -3.5rem -2rem 2rem -2rem; /* Padding main */
}
.jumbotron h1 {
    text-shadow: 1px 1px 2px #6b242f;
}

.btn-primary {
    background: #214161;
    border: 1px #214161 dashed;
}
.btn-primary:hover {
    background: #4d7e99;
    border-color: #214161;
}


.single-item {
    padding: 5px 10px;
    background: #fff;

}
.single-item img {
    height: 360px;
}

/*b0b04d
@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron { background-position-x: 510px}
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron { background-position-x: -400px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .jumbotron { background-position-x: -150px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .jumbotron { background-position-x: -50px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
*/