body {
    background: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

main {
    min-height: 80rem;
    margin-top: 80px;
    padding: 2rem;
}

footer.main-footer {
    background: #5B4238;
    border-top: 2px #9B7F6B dashed;
}

.navbar {
    background: #333;
    border-bottom: 2px #9B7F6B dashed;
}

.navbar-brand img {
    border-radius: .3rem;
}

.navbar-nav .nav-item {
    margin-right: 5px;
}

.navbar-nav a.nav-link {
    color: #fff !important;
    letter-spacing: 1px;
    border-radius: .3rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: .75rem 1.5rem;
    background: rgba(155,127,107,.2);
}
.navbar-nav a.nav-link:hover,
.nav-item.current a.nav-link {
    background: rgba(155,127,107,.8);
}
.navbar .user-cart > a {
    margin-left: 10px;
    position: relative;
    background: #333;
    padding: 2px 5px;
    border-radius: 4px;
    width: 50px;
    height: 44px;
    text-align: center;
}

.navbar .user-cart a span {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 14px;
    background: red;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
}
.navbar .user-cart a i {
    color: #fff;
    font-size: 2.5rem;
}

.languages {
    margin: 0 0 0 10px;
    padding: 0 10px;
    list-style: none;
    border-left: 1px solid #fff;
}
.languages li:first-child {
    border-bottom: 1px solid #999;
}
.languages li:last-child {
}

.languages a {
    color: #999;
}
.languages a:hover,
.languages a.current {
    color: #fff;
    text-decoration: none;
}


.jumbotron {
    background: url("../images/bg-multi.jpg");
    color: #fff;
    min-height: 300px;
    background-size: cover;
    margin: -3.5rem -2rem 2rem -2rem; /* Padding main */
}
.jumbotron h1 {
    /*text-shadow: 1px 1px 2px #fff;*/
    letter-spacing: 3px;
    text-transform: uppercase;
}

.btn-primary {
    background: #9B7F6B;
    border: 1px #9B7F6B dashed;
}
.btn-primary:hover {
    background: #C3A690;
    border-color: #9B7F6B;
}


.single-item {
    padding: 5px 10px;
    background: #fff;
    border-radius: .3rem;
    margin-bottom: 20px;
    box-shadow: 1px 2px 3px #ddd;
}

.single-item h2 {
    font-size: 1.2em;
}

.single-item img {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.navbar-subcategory {
    background: #333;
    border-radius: .3rem;
    padding: 10px 10px 10px 20px;
    list-style: none;
}

.navbar-subcategory li {
    border-bottom: 1px dotted #eee;
    margin-bottom: 10px;
}
.navbar-subcategory li a {
    color: #ffff;
}
.navbar-subcategory li a:hover,
.navbar-subcategory li.current a {
    text-decoration: none;
    color: #d68176;
}

.carousel-img {
    width: 100%;
    height: 500px;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

    /*
    .navbar-subcategory {
        position: relative;
        top: -40px;
        padding-top: 40px;
        min-height: 300px;
    }
    */
}

/*b0b04d
@media screen
and (min-width: 1200px)
and (max-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {
    .jumbotron { background-position-x: 510px}
}
*/

/* Smartphones (portrait and landscape) ----------- */
/*
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .jumbotron { background-position-x: -400px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
    .jumbotron { background-position-x: -150px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .jumbotron { background-position-x: -50px}
    .jumbotron h1 { font-size: 2.5rem; margin-top: 40px}
    .jumbotron p { width: 65%}
}
*/